<body>
  <div class="cover-container d-flex mx-auto flex-column">
    {{>nav}}
    <h2 class="normal-heading" style="padding-top:5%">Result</h2>
    <div class="card-group" style="padding-top:3%">
      <div class="card">
        <div class="card text-center">
            <div class="card-header bg-dark">
              The Robot <i class="fas fa-robot"></i> from Movie Paradise  think
            </div>
            <div class="card-body" style="background-color:#005b96 ">
              <p class="card-text">The Revenue of the movie will be {{revenue}}</p>
            </div>
        </div>
      </div>
    </div>    
    <h2 class="normal-heading" style="padding-top:5%">Similar Movies</h2>
    <div class="card-group" style="padding-top:3%">
      <div class="card">
        <div class="card text-center">
            <div class="card-header bg-dark">
              {{movie1}}
            </div>
            <div class="card-body" style="background-color:#005b96 ">
              <p class="card-text">The Revenue was {{revenue1}}</p>
            </div>
              <img height="187px" class="img-responsive" src="{{poster1}}">
          </div>
        </div>
      <div class="card">
        <div class="card text-center">
          <div class="card-header  bg-dark">
            {{movie2}}
          </div>
          <div class="card-body" style="background-color:#005b96 ">
            <p class="card-text">The Revenue was {{revenue2}}</p>
          </div>
            <img height="187px" class="img-responsive" src="{{poster2}}">
        </div>
      </div>
      <div class="card">
        <div class="card">
          <div class="card-header text-center bg-dark">
            {{movie3}}
          </div>
          <div class="card-body" style="background-color:#005b96 ">
            <p class="card-text">The Revenue was {{revenue3}}</p>
          </div>
            <img height="187px" class="img-responsive" src="{{poster3}}">
          </div>
        </div>
    </div>
    {{>footer}}
  </div>
</body>