<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    {{>nav}}
    <h2 class="normal-heading">Result</h2>
      <div class="card text-center">
        <div class="card-header display-4 bg-dark">
        Venom
        </div>
      <div class="card-body" style="background-color:#005b96 ">
        <p class="card-text">The Revenue will be ${{revenue}}</p>
      </div>
    </div>
    <br>
    <h2 class="normal-heading">Similar Movies</h2>
    <div class="card-group">
      <div class="card" style="width: 18rem;">
        <div class="card text-center">
            <div class="card-header bg-dark">
              {{movie1}}
            </div>
            <div class="card-body" style="background-color:#005b96 ">
              <p class="card-text">The Revenue will be ${{revenue1}}</p>
            </div>
            <img src="{{poster1}}">
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card text-center">
                <div class="card-header  bg-dark">
                  {{movie2}}
                </div>
                <div class="card-body" style="background-color:#005b96 ">
                  <p class="card-text">The Revenue is ${{revenue2}}</p>
                </div>
                <img src="{{poster2}}">
              </div>
            </div>

        <div class="card" style="width: 18rem;">
            <div class="card text-center">
                <div class="card-header  bg-dark">
                  {{movie3}}
                </div>
                <div class="card-body" style="background-color:#005b96 ">
                  <p class="card-text">The Revenue is ${{revenue3}}</p>
                </div>
                <img src="{{poster3}}">
              </div>
            </div>
      </div>
      {{>footer}}
  </div>
</body>